* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
 color: #eee;
}

h1, h2, p, strong {
  color: #eee !important;
}

.red {
    color: #c33;
}

#background {
    /*background: url(../img/sarah-dorweiler-211779-unsplash.jpg);*/
    background-color: #212529;
    background-size: 100% auto;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1000000;
/*    opacity: 0.4; */
    transform: scaleX(-1);
}

.credit {
    position: fixed;
    bottom: 5px;
    right: 10px;
    opacity: 0.25;


}



main {
    margin-top: 88px;
}










section {
    padding-bottom: 150px !important;
}

a {
    color: #c33;
}

adress a {
    background: #fff;
    padding: 4px 6px 2px;
    border-radius: 5px;
}

a:hover {
    border-bottom: #c33 2px solid;
    text-decoration: none;
    color: #000;
}

a:active {
    color: #000 !important;
}



#header {

}

.header {
    padding-bottom: 50px;
}

.quote {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
}

.quote article {
    padding-top: 25px;
    font-weight: 600;
    color: #000;
}

article .author {
    font-weight: 100;
}

wbr:after {
    content: "\00200B"
}

#impression {
    margin-left: -15px;
}

#impression a {
    padding: 14px 16px 12px;
    border-radius: 5px;
    background: #c33;
    color: #fff;
}

#impression a:hover {
    border-bottom: rgba(0,0,0,1) 2px solid;
    text-decoration: none;
    color: white;
}





main {
    margin-top: 88px;
}

adress {
    font-size:18px;
}
