header {
    height: 100%;
    width: 80px;
    border-right: 2px solid #c33;
    background: rgba(0,0,0,0.8);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 25px 0 0 15px;
    margin: 0 !important;
    display: block;
    z-index: 1000;
}

header h1 {
    margin: 15px 25px 0 5px;
    transform: rotate(90deg);
    font-size: 1.75rem;
    color: #ccc;
}


header #Logo {
    height: 45px;
}

#navbar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 77px;
}

#navigation {
    position: absolute;
    left: 80px;
    top: 0px;
    bottom: 0px;
    background: #a00;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 300;
}

#burger-menue {
    position: absolute;
    bottom: 10px;
    left: -5px;
}

#collapse-menue {
    position: fixed;
    top: 0px;
    bottom: 0px;
    background-color: #c33;
    left: 80px;
    height: 100%;
}

#collapse-menue a {
    color: #fff;
    font-weight: 500;
    padding-right: 10px;
    
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0s ease;
}