header {
    border-bottom: 2px solid #c33;
    background: rgba(0,0,0,0.8);
    padding: 0px !important;
    margin: 0 !important;
    display: block;
    z-index: 1000;
}



#navLineOne{
padding-top:  15px ;
padding-bottom: 15px;
}

header h1 {
    font-size: 1.75rem;
    color: #ccc;
    padding: 7px 15px;
}

header #Logo {
    height: 45px;
}

#burger-menue {

}



#navLineTwo {
    background-color: #c33;
}

#navLineTwo .p-4 {
    padding-left: 0px !important;
}

#collapse-menue a {
    color: #fff;
    font-weight: 500;
    padding-right: 10px;
    
}

