<?php
echo '
<head>
                <!-- Google Tag Manager
        <script>(function(w,d,s,l,i){w[l]=w[l]||[]\w[l].push({\'gtm.start\':
        new Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!=\'dataLayer\'?\'&l=\'+l:\'\';j.async=true;j.src=
        \'https://www.googletagmanager.com/gtm.js?id=\'+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,\'script\',\'dataLayer\',\'GTM-KG3BT58\');</script>
        <!-- End Google Tag Manager -->

      <!-- Required meta tags -->
       <meta charset=utf-8>
        <meta name=viewport content=width=device-width, initial-scale=1, shrink-to-fit=no>
        <meta property=og:title content=Do Zen Ideas!/>
        <meta property=og:title content=Klare Kommunikation, nachhaltig gestaltet./>
      	<meta property=og:image content=http://dozenideas.de/img/og-logo.jpg/>


      <title>Do Zen Ideas!</title>
      <!-- Stylesheets -->

        <link href=https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600,700 rel=stylesheet>
        <link rel=stylesheet href=https://use.fontawesome.com/releases/v5.2.0/css/all.css integrity=sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ crossorigin=anonymous>


        <link rel=stylesheet type=text/css href=bootstrap/css/bootstrap.min.css>
        <link rel=stylesheet type=text/css href=css/dozen2.css media=screen>
        <link rel=stylesheet type=text/css href=css/navigation-vert.css media=screen>





        <!-- Event snippet for Kundengenerierung conversion page -->
        <script>
          gtag(\'event\', \'conversion\', {\'send_to\': \'AW-793125503/TlMPCPjUq4cBEP_EmPoC\'});
        </script>



</head>
    ';

?>
