<!doctype html>
<html lang="de">
    <?php include "header-test.phtml"; ?>

    <body>
        <?php include "googletagmanager.phtml";?>
        <?php include "navigation.phtml"; ?>



        <section id="content">
            <div class="container">
                <div class="row">
                    <main role="main" class="offset-4 offset-sm-3 offset-md-1 col-7 col-sm-8 col-md-10 ">
                        <section id="impression" class="col-12 col-xs-10 col-sm-12 col-md-6 " >
                            <h1 class="header">Wir lieben <span class="red">gute</span> Kommuni&shy;kation!</h1>
                            <p style="padding-bottom: 25px;"><b>Tragen Sie ihre Markenbotschaft in die Welt.</b><br>Wir unterstützen Sie, begonnen beim Brand Design, über Printwerbung bis hin zu User Experience und Onlinemarketing. <br>&nbsp;</p>
                            <a href="mailto:info@dozenideas.de"><i class="fas fa-envelope-square"></i> Sprecht mit uns!</a>
                        </section>

                   </main>
                </div>
            </div>
            </section>
         <a class="credit" style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@sarahdorweiler?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Sarah Dorweiler"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Sarah Dorweiler</span></a>
        <div id="background"></div>



        <?php include "scripte.phtml";?>
    </body>
</html>
