<?php echo '
<header >
                    <object id="Logo"  data="img/enso_logo_white.svg"></object>
                    <h1 class="">DoZenIdeas</h1>
                    <div id="burger-menue" class="pos-f-t">
                      <div class="collapse height" id="navbarToggleExternalContent">
                        <div id="collapse-menue" class="p-4">
                          <p><a href="start.phtml">DoZenIdeas</a></p>
                          <p><a href="kontakt.phtml">Kontakt</a></p>
                          <p><a href="impressum.phtml">Impressum</a></p>
                        </div>
                      </div>
                      <nav class="navbar navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      </nav>
                    </div>    
        </header>
'?>